body
{
    color: white;
    background-color: black;
}

a:link
{
    color: white;
}

a:visited
{
    color: #18D45C;
}

table
{
    display: flex;
    width: 100%;
}

title{
    color: white;
}

/* .btn
{
	color: black;
    background-color: white;
    padding: 6px 12px;
} */